{% extends 'base.ecole.html.twig' %}

{% block title %}Classe!{% endblock %}

{% block body %}
    <h3>La liste des classes</h3>
    <div class="card">
        <div class="card-body">
            <table class="table table-default">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>NOM CLASSE</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for classe in classes %}
                        <tr>
                            <td>{{classe.id}}</td>
                            <td>{{classe.nom}}</td>
                            <td>
                                <a href="{{path("app_ecoleclasse_edit", {id:classe.id})}}" class="btn btn-primary btn">Modifier</a>
                                <a href="{{path("app_ecoleclasse_delete", {id:classe.id} )}}" class="btn btn-danger btn" onclick="confirm('Êtes vous sur de vouloir supprimer cet élément ?')"">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<a href="{{path("app_ecoleclasse_add")}}" class="btn btn-primary">Ajouter une classe</a>
{% endblock %}