{% extends 'base.html.twig' %}

{% block title %}Eleves notes{% endblock %}

{% block body %}
<h3>Les notes de {{eleve.nom ~ " " ~ eleve.prenom}}</h3>
   <div class="card">
        <div class="card-body">
            <table class="table table-default">
                <thead>
                    <tr>
                        <th>MATRICULE</th>
                        <th>CLASSE</th>
                        <th>MATIERE</th>
                        <th>NOTES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in notes %}
                        <tr>
                            <td>{{n.eleve.matricule}}</td>
                            <td>{{n.eleve.classe}}</td>
                            <td>{{n.matiere}}</td>
                            <td>{{n.note}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
