{% extends 'base.ecole.html.twig' %}

{% block title %}Ecole notes{% endblock %}

{% block body %}
   <div class="card">
        <div class="card-body">
            <table class="table table-default">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>MATRICULE</th>
                        <th>NOM</th>
                        <th>PRENOM</th>
                        <th>AGE</th>
                        <th>PARENT</th>
                        <th>CLASSE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in notes %}
                        <tr>
                            <td>{{E.id}}</td>
                            <td>{{E.matricule}}</td>
                            <td>{{E.nom}}</td>
                            <td>{{E.prenom}}</td>
                            <td>{{E.age}}</td>
                            <td>{{E.parent}}</td>
                            <td>{{E.classe}}</td>
                            <td>
                                <a href="#" class="btn btn-primary btn">Modifier la note</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<a href="{{path("app_ecolenote_add")}}" class="btn btn-primary">Ajouter une note</a>

{% endblock %}
