{% extends 'base.ecole.html.twig' %}

{% block title %}Ecole notes{% endblock %}

{% block body %}
   <div class="card">
        <div class="card-body">
            <table class="table table-default">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>MATRICULE</th>
                        <th>NOM</th>
                        <th>MATIERE</th>
                        <th>NOTES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in notes %}
                        <tr>
                            <td>{{n.id}}</td>
                            <td>{{n.eleve.matricule}}</td>
                            <td>{{n.eleve.nom}}</td>
                            <td>{{n.matiere}}</td>
                            <td>{{n.note}}</td>
                            <td>
                                <a href="{{path("app_ecolenote_add_continuer_edit",{id:n.id})}}" class="btn btn-primary btn">Modifier</a>
                                <a href="{{path("app_ecolenote_add_continuer_delete",{id:n.id})}}" class="btn btn-danger btn">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<a href="{{path("app_ecolenote_add")}}" class="btn btn-primary">Ajouter une note</a>

{% endblock %}
